
* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

html {
          font-family: 'lato', sans-serif;
          font-size: 10px;
          color: blue;
}

body {
          /* background-color: black; */
          padding: 20px;
          align-content: center;
}

.static-hero-box {
          width: 100%;
          height: 50px;
          margin: auto;
          
}
.static-hero-box ul {
          display: flex;
          flex-wrap: wrap;
}
.static-hero-box li {
          display: inline-block;
          list-style-type: none;
          height: 50px;
          padding: 10px;
          margin: auto;
          /* text-align: center; */
          /* border: 2px solid green; */
}

.static-hero-box li a {
          text-decoration: none;
          display: inline-block;
          text-transform: uppercase;
          color: #777;
          margin: auto;
          font-size: 2rem;
          /* padding: 10px; */
          letter-spacing: 5px;
          font-weight: 600;
          transition: all .5s;
          
}

.static-hero-box li a:hover {
          background-color: brown;
          color:white;
          display: block;
          transform: translateY(-5px) skewY(-3deg) skewX(-15deg) scale(1.1);
          margin-bottom: 5px;
          padding: 20px;
          z-index: 1;
}

header {
          width: 100%;
          max-height: 250px;
          background-color: brown;
          position: relative;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-around;
          z-index: 0;
}


.header-hero-text {
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 5px;
          word-spacing: 20px;
          font-size: clamp(2rem, 2vw, 3rem);
          font-weight: 500;
          text-align: center;
          margin:auto 50px;
          align-self: center;
          /* z-index: 1; */
}


section {
          background-image: url(img/jesuschristredrobe_large.jpg);
          background-position: top;
          background-size:cover;
          background-repeat: no-repeat;
          background-attachment:fixed;
          width: 100%;
          height: 80vh;
          position: relative;
}

.section-hero {
          /* border: 2px solid black; */
          backdrop-filter: blur(6px);
          padding: 10px;
          max-width: 350px;
          position: absolute;
          right: 100px;
          /* top: 20%; */
}

.section-hero-text-big {
          color: #fff;
          font-weight: 700;
          font-size: 6rem;
}

.section-hero-text-big:hover {
          transform: translateY(-5px) skewY(-3deg) skewX(-15deg) scale(1.1);
          transition: all .5s;
}

.section-hero-text p {
          font-size: clamp(2rem, 2vw, 3rem);
          color: #fff;
          text-rendering: optimizeLegibility;
          
}

main {
          max-width: 100%;
          /* height: 70vh; */
          padding: 100px;
          align-items: center;
          margin: auto;
}
.main-text {
         /* display: inline-block; */
         column-count: 3;
          column-span: all;
          column-gap: 30px;
         word-spacing: 10px;
         word-break: break-all;
         color: brown;
}

footer {
          width: 100%;
          padding: 20px;
          color: #fff;
          font-size: 1.5rem;
          background-color:brown;
          text-align: justify;

}

@media screen and  (min-width: 400px) {
                    main{
                              /* display: block; */
                              padding: 40px;

                    }
}

@media screen and  (min-width: 370px) and (max-width: 10000px) {
          .main-text {
                    
                    font-size: 2rem;
                    color: brown;
                    word-spacing: 10px;
                    letter-spacing: 2px;
                    text-indent: 10px;
                    text-align: justify;
          }
}