
* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

html {
          font-family: 'lato', sans-serif;
          font-size: 10px;
          color: blue;
}

body {
          /* background-color: black; */
          padding: 20px;
}

.static-hero-box {
          width: 100%;
          height: 50px;
          margin-top: 0;
          align-items: center;
          position: sticky;
          text-align: center;
}
.static-hero-box ul {
          margin: auto;
}
.static-hero-box li {
          display: inline-block;
          margin: 20px;
}
.static-hero-box li a {
          text-decoration: none;
          text-transform: uppercase;
          color: #777;
          margin: 50px;
          font-size: 2rem;
          padding: 5px;
          letter-spacing: 5px;
          font-weight: 600;
}
.static-hero-box li a:hover {
          background-color: brown;
          color:white;
          box-shadow: #fff;
          transition: all 0.8s;
}
header {
          width: 100%;
          height: 250px;
          background-color: brown;
          position: relative;
          color: yellow;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-around;
}


.header-hero-text {
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 5px;
          word-spacing: 20px;
          font-size: 4rem;
          font-weight: 500;
          text-align: center;
          margin:auto 50px;
          align-self: center;
          /* z-index: 1; */
}
section {
          background-image: url(img/jesuschristredrobe_large.jpg);
          background-position: top;
          background-size:cover;
          background-repeat: no-repeat;
          background-attachment:fixed;
          width: 100%;
          height: 50rem;
          position: relative;
}

.section-hero {
          /* border: 2px solid black; */
          backdrop-filter: blur(6px);
          padding: 10px;
          width: 350px;
          position: absolute;
          right: 100px;
          top: 20%;
}

.section-hero-text-big {
          color: #fff;
          font-weight: 700;
          font-size: 6rem;
}

.section-hero-text p {
          font-size: 2rem;
          color: #fff;
          text-rendering: optimizeLegibility;
          
}