
* {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}

html {
          font-family: 'lato', sans-serif;
          font-size: 10px;
          color: blue;
}

body {
          /* background-color: black; */
          padding: 20px;
          align-content: center;
}

.static-hero-box {
          width: 100%;
          height: 30px;
          margin: 30px auto;
          text-align: center;
          
}

.static-hero-box li {
          display: inline-block;
          list-style-type: none;
          height: 50px;
         margin-left: 50px;
}

.static-hero-box li a {
          text-decoration: none;
          display: block;
          text-transform: uppercase;
          color: #777;
          font-size: 2rem;
          letter-spacing: 5px;
          font-weight: 600;
          transition: all .5s;
          
}

.static-hero-box li a:hover {
          background-color: brown;
          color:white;
          transform: translateY(-5px) skewY(-3deg) skewX(-15deg) scale(1.3);
          z-index: 100;
          /* border: 2px solid #777; */
}

header {
          width: 100%;
          height: 100px;
          background-color: brown;
          position: relative;
          align-items: center;
          justify-content: space-around;
          z-index: 0;
}

.menu {
          height: 50px;
          width: 50px;
          background-color: white;
          border: 3px solid #777;
          border-radius: 50%;
          position: fixed;
          z-index: 100;
          margin: -50px 20px;
}

.menu a {
          pointer-events: visible;
}
.menu-content {
          display: none;
}
.menu-content:active{
          display: inline-block;
}

.menu-link-text {
          position: absolute;
          transform: translate(-50%, -20%);
          font-size: 40px;
}

.header-hero-text {
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 5px;
          word-spacing: 20px;
          font-size: clamp(2rem, 2vw, 3rem);
          font-weight: 500;
          text-align: center;
          cursor: pointer;
}


section {
          background-image: url(img/jesuschristredrobe_large.jpg);
          background-size:cover;
          background-repeat: no-repeat;
          background-attachment:fixed;
          width: 100%;
          height: 80vh;
}

.section-hero {
          backdrop-filter: blur(6px);
          max-width: 350px;
          position: absolute;
          right: 100px;
          cursor: pointer;
}

.section-hero-text-big {
          color: #fff;
          font-weight: 700;
          font-size: 6rem;
}

.section-hero-text-big:hover {
          transform: translateY(-5px) skewY(-3deg) skewX(-15deg) scale(1.1);
          transition: all .5s;
}

.section-hero-text p {
          font-size: clamp(2rem, 2vw, 3rem);
          color: #fff;
          text-rendering: optimizeLegibility;
          
}

main {
          max-width: 100%;
          padding: 100px;
          align-items: center;
          margin: auto;
}
.main-text {
         column-count: 3;
          column-span: all;
          column-gap: 30px;
          font-size: 2rem;
         word-spacing: 10px;
         word-break: break-all;
         color: brown;
}


footer {
          width: 100%;
          padding: 20px;
          color: #fff;
          font-size: 1.5rem;
          background-color:brown;
          text-align: justify;

}

@media (min-width: 400px) {
                    main {
                              display: block;
                              padding: 20px;
                    }
}

@media (min-width: 500px) and (max-width: 500px) {
          .main-text {
          column-count: 1;
          column-gap: 20px;
          }
}

@media (min-width: 370px) and (max-width: 500px) {
          .static-hero-box li {
                    list-style-type: none;
                    margin-top: auto;
                   margin-left: 20px;
          }
}